@charset "UTF-8";
@import url(https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
* {
  padding: 0;
  margin: 0;
  font-family: 'merriweather', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  line-height: 1.4em; }

h2, h3, h4, h5, h6 {
  margin: 0.67em 0; }

/*-----------Normalize file-----------*/
/*
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

img {
  height: auto;
  width: 100%; }

/*Styling header*/
/*General Styling*/
header {
  grid-area: header;
  background-image: url("/images/hero.jpg");
  background-size: cover;
  background-repeat: none; }
  header nav {
    background-color: #2C2C29; }
    header nav ul {
      margin: 0;
      padding: 0; }
    header nav a {
      color: #f5f5f5;
      font-size: 25px; }

/*Navigation xsmall*/
@media (max-width: 375px) {
  /*using my own breakingpoint variable from breakingpoints map*/
  #nav {
    /*creating off-canvas menu*/
    transition: transform .3s ease-in-out;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    /*overrides Safari bug*/
    position: fixed;
    /*makes it possible to scroll behind the nav*/
    width: 300px;
    left: -340px;
    max-width: 60em;
    padding-top: 1.5em;
    z-index: 999;
    /*places the navigation at the front*/ }
  #nav:target {
    transform: translateX(340px); }
  .toggle {
    color: #f5f5f5;
    /*styling bars icon*/
    font-size: 25px;
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 30px; }
  .close {
    text-align: right;
    display: block;
    text-decoration: none;
    font-size: 3em;
    position: relative;
    top: -30px; }
  .flex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 8em; }
    .flex .rofajo {
      color: white;
      font-size: 30px; }
    .flex .rofajo-img {
      max-width: 60px; } }

/*Navigation Desktop & Tablet*/
@media (min-width: 376px) {
  /*using breakpoint variables from breakpoints map*/
  .toggle {
    display: none;
    /*hides bars icon on desktop & tablet*/ }
  .flex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 8em; }
    .flex .rofajo {
      color: white;
      font-size: 30px; }
    .flex .rofajo-img {
      max-width: 60px; }
  nav {
    background-color: #282828;
    /*nav color is changed on desktop & tablet*/ }
    nav ul {
      display: flex;
      justify-content: center; }
      nav ul li {
        padding: 0 20px 0 0; }
        nav ul li a {
          font-size: 30px;
          /*nav font-size is changed on desktop & tablet*/ }
          nav ul li a:hover {
            color: red; } }

main {
  grid-area: main; }
  @media (max-width: 375px) {
    main {
      padding-top: 5%;
      border-bottom: 25px solid red;
      border-right: 25px solid red;
      border-left: 25px solid red; }
      main #doldBild {
        display: none; }
      main #jumbotron {
        display: none; }
      main #batman {
        display: none; }
      main #borja {
        display: none; }
      main .jumbo {
        text-align: center;
        padding-bottom: 10%; }
        main .jumbo .button {
          background: #ED3100;
          border: none;
          border-radius: 20px;
          color: white;
          padding: 15px 60px;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer; }
        main .jumbo .mellanrum {
          margin-bottom: 1em; }
      main .jumbo2 {
        text-align: center;
        padding-top: 15%; }
        main .jumbo2 .margin {
          margin-bottom: 1.3em; }
        main .jumbo2 .button2 {
          border: none;
          color: white;
          padding: 15px;
          display: inline-block;
          margin: 4px 2px;
          cursor: pointer;
          width: 85%; }
        main .jumbo2 .border {
          margin-top: 1em;
          margin-bottom: 1em; }
      main #spec1 {
        background: #3B5998; }
      main #spec2 {
        background: #ED3100; }
      main .sökruta {
        margin-top: 1.5em; }
        main .sökruta .söken {
          padding: 0.2em; }
        main .sökruta #sök {
          color: white;
          border: 1px solid #ED3100;
          background: #ED3100; }
      main .jumbo3 {
        text-align: center;
        padding-bottom: 10%; }
        main .jumbo3 .pizzahut {
          max-width: 60px; }
      main .jumbo4 .center {
        text-align: center;
        padding-top: 10%; }
      main .jumbo4 #kontaktaoss {
        padding-top: 0;
        padding-bottom: 10%; }
      main .jumbo4 .rounded {
        background: #ED3100;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        color: white; }
      main .jumbo4 .group {
        text-align: center; }
        main .jumbo4 .group .button {
          background: #ED3100;
          border: none;
          border-radius: 20px;
          color: white;
          padding: 15px 60px;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer; } }

@media (min-width: 376px) {
  main {
    padding-top: 5%;
    border-right: 25px solid red;
    border-left: 25px solid red;
    border-bottom: 25px solid red; }
  .jumbo {
    text-align: center;
    padding-bottom: 10%; }
    .jumbo .button {
      background: #ED3100;
      border: none;
      border-radius: 20px;
      color: white;
      padding: 15px 60px;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer; }
    .jumbo .mellanrum {
      margin-bottom: 1em; }
  .jumbo2 {
    text-align: center;
    padding-top: 15%; }
    .jumbo2 .margin {
      margin-bottom: 1.3em; }
    .jumbo2 .button2 {
      border: none;
      color: white;
      padding: 15px;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
      width: 85%; }
    .jumbo2 .border {
      margin-top: 1em;
      margin-bottom: 1em; }
  #spec1 {
    background: #3B5998; }
  #spec2 {
    background: #ED3100; }
  .sökruta {
    margin-top: 1.5em; }
    .sökruta .söken {
      padding: 0.2em; }
    .sökruta #sök {
      color: white;
      border: 1px solid #ED3100;
      background: #ED3100; }
  .jumbo3 {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 3%; }
    .jumbo3 .pizzahut {
      max-width: 60px; }
  .jumbo4 {
    text-align: center; }
    .jumbo4 #kontaktaoss {
      padding-top: 0;
      padding-bottom: 10%; }
    .jumbo4 .kontaktKnapp {
      display: flex;
      justify-content: center; }
      .jumbo4 .kontaktKnapp .rounded {
        display: block;
        background: #ED3100;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        color: white; }
    .jumbo4 .group {
      text-align: center; }
      .jumbo4 .group .button {
        background: #ED3100;
        border: none;
        border-radius: 20px;
        color: white;
        padding: 15px 60px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer; }
  #fisk {
    display: none; } }

@media (max-width: 375px) {
  footer {
    display: none; } }

@media (min-width: 376px) {
  footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    background: #2C2C29; } }

@supports (grid-area: auto) {
  /* master-grid */
  @media (max-width: 375px) {
    .grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 40vh auto;
      grid-template-areas: "header" "main"; } } }

@supports (grid-area: auto) {
  /* master-grid */
  @media (min-width: 376px) {
    .grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 36.5vh auto;
      grid-template-areas: "header" "main" "footer"; } } }

@supports (grid-area: auto) {
  /* Sub-grid */
  @media (max-width: 375px) {
    #articles {
      display: none; }
    .artiklar {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-template-areas: "text1 icon1" "text1 arrow1" "text2 icon2" "text2 arrow2" "text3 icon3" "text3 arrow3" "text4 icon4";
      padding: 1.5em;
      justify-items: center; }
      .artiklar .texts {
        padding-top: 10%; }
      .artiklar .text1 {
        grid-area: text1; }
      .artiklar .text2 {
        grid-area: text2; }
      .artiklar .text3 {
        grid-area: text3; }
      .artiklar .text4 {
        grid-area: text4; }
      .artiklar .icons {
        max-width: 60px;
        margin-bottom: 25px; }
        .artiklar .icons .icon1 {
          grid-area: icon1; }
        .artiklar .icons .icon2 {
          grid-area: icon2; }
        .artiklar .icons .icon3 {
          grid-area: icon3; }
        .artiklar .icons .icon4 {
          grid-area: icon4; }
      .artiklar .arrows {
        max-width: 30px; }
        .artiklar .arrows .arrow1 {
          grid-area: arrow1; }
        .artiklar .arrows .arrow2 {
          grid-area: arrow2; }
        .artiklar .arrows .arrow3 {
          grid-area: arrow3; } } }

@supports (grid-area: auto) {
  /* Sub-grid */
  @media (min-width: 376px) {
    .artiklar {
      display: grid;
      align-items: baseline;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-template-areas: "text1 icon1" "text1 arrow1" "text2 icon2" "text2 arrow2" "text3 icon3" "text3 arrow3" "text4 icon4";
      padding: 1.5em;
      justify-items: center; }
      .artiklar .texts {
        padding-top: 10%; }
      .artiklar .text1 {
        grid-area: text1; }
      .artiklar .text2 {
        grid-area: text2; }
      .artiklar .text3 {
        grid-area: text3; }
      .artiklar .text4 {
        grid-area: text4; }
      .artiklar .icons {
        max-width: 60px;
        margin-bottom: 25px; }
        .artiklar .icons .icon1 {
          grid-area: icon1; }
        .artiklar .icons .icon2 {
          grid-area: icon2; }
        .artiklar .icons .icon3 {
          grid-area: icon3; }
        .artiklar .icons .icon4 {
          grid-area: icon4; }
      .artiklar .arrows {
        max-width: 30px; }
        .artiklar .arrows .arrow1 {
          grid-area: arrow1; }
        .artiklar .arrows .arrow2 {
          grid-area: arrow2; }
        .artiklar .arrows .arrow3 {
          grid-area: arrow3; } } }

@supports (grid-area: auto) {
  /* Sub-sub-grid */
  @media (max-width: 375px) {
    .grid-container {
      display: grid;
      padding: 1em;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1em;
      grid-template-rows: auto; } } }

@supports (grid-area: auto) {
  /* Sub-sub-grid */
  @media (min-width: 376px) {
    .grid-container {
      display: grid;
      padding: 1em;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1em;
      grid-template-rows: auto; } } }

@supports (grid-area: auto) {
  /* master-grid */
  @media (max-width: 375px) {
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-gap: 1em; } } }

@supports (grid-area: auto) {
  /* master-grid */
  @media (min-width: 376px) {
    .container {
      display: grid;
      grid-template-columns: repeat(2, 50vh);
      grid-template-rows: auto;
      justify-content: center; } } }

@supports (grid-area: auto) {
  /* master-grid */
  @media (max-width: 375px) {
    .restaurantmenu-grid {
      display: grid;
      padding: 1em;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      grid-gap: 1em;
      grid-template-areas: "bild1 bild1 text1 text1" "bild1 bild1 text2 text2" "bild1 bild1 text3 text4"  "bild2 bild2 text5 text5" "bild2 bild2 text6 text6" "bild2 bild2 text7 text8"  "bild3 bild3 text9 text9" "bild3 bild3 text10 text10" "bild3 bild3 text11 text12"; }
      .restaurantmenu-grid .texteru1 {
        grid-area: text1; }
      .restaurantmenu-grid .texteru2 {
        grid-area: text2; }
      .restaurantmenu-grid .texteru3 {
        grid-area: text3; }
      .restaurantmenu-grid #texteru4 {
        grid-area: text4; }
      .restaurantmenu-grid .texteru5 {
        grid-area: text5; }
      .restaurantmenu-grid .texteru6 {
        grid-area: text6; }
      .restaurantmenu-grid .texteru7 {
        grid-area: text7; }
      .restaurantmenu-grid #texteru8 {
        grid-area: text8; }
      .restaurantmenu-grid .texteru9 {
        grid-area: text9; }
      .restaurantmenu-grid .texteru10 {
        grid-area: text10; }
      .restaurantmenu-grid #texteru11 {
        grid-area: text11; }
      .restaurantmenu-grid .bild1 {
        height: 100%;
        grid-area: bild1; }
      .restaurantmenu-grid .bild2 {
        height: 100%;
        grid-area: bild2; }
      .restaurantmenu-grid .bild3 {
        height: 100%;
        grid-area: bild3; }
      .restaurantmenu-grid .input {
        text-align: center;
        font-size: 12px;
        color: white;
        background: #ED3100;
        border-radius: 20px; } } }

@supports (grid-area: auto) {
  /* master-grid */
  @media (min-width: 376px) {
    .restaurantmenu-grid {
      display: grid;
      padding: 1em;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      grid-gap: 3em;
      grid-template-areas: "bild1 bild1 text1 text1" "bild1 bild1 text2 text2" "bild1 bild1 text3 text4"  "bild2 bild2 text5 text5" "bild2 bild2 text6 text6" "bild2 bild2 text7 text8"  "bild3 bild3 text9 text9" "bild3 bild3 text10 text10" "bild3 bild3 text11 text12"; }
      .restaurantmenu-grid .texteru1 {
        grid-area: text1; }
      .restaurantmenu-grid .texteru2 {
        grid-area: text2; }
      .restaurantmenu-grid .texteru3 {
        grid-area: text3; }
      .restaurantmenu-grid #texteru4 {
        grid-area: text4; }
      .restaurantmenu-grid .texteru5 {
        grid-area: text5; }
      .restaurantmenu-grid .texteru6 {
        grid-area: text6; }
      .restaurantmenu-grid .texteru7 {
        grid-area: text7; }
      .restaurantmenu-grid #texteru8 {
        grid-area: text8; }
      .restaurantmenu-grid .texteru9 {
        grid-area: text9; }
      .restaurantmenu-grid .texteru10 {
        grid-area: text10; }
      .restaurantmenu-grid #texteru11 {
        grid-area: text11; }
      .restaurantmenu-grid .bilder {
        margin-left: 5em;
        width: 65%; }
      .restaurantmenu-grid .bild1 {
        grid-area: bild1; }
      .restaurantmenu-grid .bild2 {
        grid-area: bild2; }
      .restaurantmenu-grid .bild3 {
        grid-area: bild3; }
      .restaurantmenu-grid .input {
        text-align: center;
        width: 25%;
        color: white;
        background: #ED3100;
        border-radius: 20px; } } }
